@import url('https://fonts.googleapis.com/css2?family=Inter');

* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(24, 24, 24);
    overflow: hidden;
    font-family: 'Inter';
    color: rgb(209, 209, 209);
    /* padding: 2%; */
}

h1 {
    font-size: 3em;
    letter-spacing: -0.03em;
    font-weight: 600;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    margin-bottom: 5%;
}

h2 {
    color: #fff;
    font-size: 2em;
    letter-spacing: -0.03em;
    font-weight:100;
    hyphens: auto;
    line-height: 100%;
    margin-bottom: 1em;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

p, li, ol, ul {
    margin-bottom: 1em;
    line-height: 135%;
    font-size: 0.9em;
}

p.subtext {
    color: rgb(85, 85, 85);
    font-size: 0.7em;
    z-index: 1000;
}

.page-wrapper {
    display: grid;
    width: 100vw;
    padding: 4% 5% 4% 20%;
    height: 100vh;
    box-sizing: border-box;
    grid-template-columns: repeat(11, minmax(0, 1fr));
    grid-template-rows: repeat(11, minmax(0, 1fr));
    gap: 2%;
}

.mobile-version {
    padding: 5% 10% 5% 5%;
    font-size: 4em;
    color: #fff;
    margin-bottom: 4em;
    letter-spacing: -0.04em;
}

.full-size {
    height: 100%;
    width: 100%;
}

.paragraph {
    hyphens: auto;
    text-align: justify;
    text-justify: inter-character;
}

.parallax-front1 {
    z-index: 100;
}

.parallax-behind1, .parallax-behind2 {
    z-index: -999;
}

.image-centred {
    object-fit: cover; 
    position: absolute; 
    background-color: red;
    top: -5%; 
    left: 0;
    z-index: -1;
    height: 160%; /* Extra height for parallax movement room */
    width: 100%;
}

.scrollbar {
    position: fixed;
}

.scrollbar-viewport {
    position: fixed;
    top: 50%;
    left: 10dvw;
    transform: translateX(-50%) translateY(-50%);
    height: 12dvh;
    width: 12dvw;
    border: 1.5px rgb(189, 189, 189) solid; 
    z-index: 999;
}

.clickable {
    transition: transform 40ms ease-in-out;
}

.clickable:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#scrollContent {
    pointer-events: none;
    position: fixed;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 50dvh;
    left: 10dvw;
    width: 12dvw;
}

#scrollContent div {
    transform: translateY(-50%);
    z-index: 9999;
    pointer-events: all;
    height: 12dvh;
    width: 12dvw;
    /* background-color: rgb(34, 34, 34); */
    border: 1.5px rgb(85, 85, 85) solid; 
    padding: 5%;
    font-size: 0.7em;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
}

#pages, .parallax-front1, .parallax-front2, .parallax-behind1, #scrollContent {
    will-change: transform;
}
