@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Instrument+Serif:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
}

main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;

}

header {
    margin-bottom: 3em;
}

body {
    font-family: 'Google Sans Flex';
    letter-spacing: -3%;
}

h1 {
    font-family: "Instrument Serif", serif;
    font-weight: normal;
    font-size: 6em;
    letter-spacing: -5%;
    line-height: 100%;
}

h2 {
    font-family: "Instrument Serif", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1.5em;
    letter-spacing: -3%;
    line-height: 100%;
}